#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  gap: 20px;
}

input {
  outline: none;
  border: 2px solid #9d97ec;
  padding: 0.6em 1.2em;
}

.black {
  color: #000;
}

.note-list {
  color: #000;
  list-style: none;
  padding: 10px 5px;
  border: 2px solid #9d97ec;
}

.note-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding-inline: 5px;
  border: 2px solid #9d97ec;
}

.item__descr {
  padding: 1px 15px;
}